.logoI{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    padding: 50px;
    align-items: center;
    img{
        height: 60px;
        width: 60px;
        transition: transform .2s;
    }
    img:hover{
        transform: scale(1.2);
    }
}
.details{
    margin-top: 100px;
    text-align: center;
    h2{
        font-weight: 600;
        color: rgb(55,55,45);
        font-size: 20px;
        
    }
}